<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       
       xmlns:security="http://www.springframework.org/schema/security"
       
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
            http://www.springframework.org/schema/security
            http://www.springframework.org/schema/security/spring-security-4.0.xsd
        ">
    <security:http auto-config="true">
        <security:intercept-url pattern="/" access="permitAll()" />
        <!--security:intercept-url pattern="/listado.htm" access="hasRole('ROLE_Usuario') or hasRole('ROLE_Administrador')" /-->
        <security:intercept-url pattern="/datos_de_usuario.htm" access="hasRole('ROLE_Usuario') or hasRole('ROLE_Administrador')" />
        <!--security:intercept-url pattern="/agregar.htm" access="!hasAuthority('ROLE_Usuario')" /-->    
    
    
        <!-- punto 5.6 lab15 daw, modificando la página access denied -->
        <security:access-denied-handler error-page="/acceso-denegado.htm" />
    
        <!-- punto 6.1 daw -->
        <security:form-login 
            login-page="/login.htm" 
            default-target-url="/index.htm"
            login-processing-url="/j_spring_security_check"
            authentication-failure-url="/error-login.htm"
            username-parameter="usuario"
            password-parameter="clave" />
    
    
    
    
    </security:http>
    
    
    
    
    
    <!-- PUNTO 4.2 LAB15 DAW -->
    <security:authentication-manager>
        <security:authentication-provider>
            <security:user-service>
                <security:user name="invitado" password="123456" authorities="ROLE_Usuario" />
                <security:user name="admin" password="123456" authorities="ROLE_Administrador" />
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>
    
    
    
    
        
        
</beans>
